* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  background-color: rgb(23, 22, 22);
}
nav {
  width: 100%;

  background-color: black;
}
ul {
  display: flex;
  justify-content: space-around;
  background-color: rgb(23, 22, 22);
}

li {
  color: white;
  list-style: none;
  margin: 10px;
}
.yellow-button {
  width: 140px;
  height: 35px;
  border-radius: 8px;
  background-color: rgba(252, 175, 23, 1);
  color: black;
}
.bar-img {
  width: 33px;
  height: 34px;
}
.rockstar-img {
  margin-top: -3px;
}
.bar-right {
  display: flex;
  margin-top: 16px;
}
.bar-left {
  display: flex;
  margin-top: 9px;
}
#GTA {
  background-color: black;
  color: white;
  font-size: 10px;
}
li {
  font-family: Helvetica;
  font-size: 10px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: -0.011em;
}

.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active,
.dot:hover {
  background-color: #717171;
}
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}

@media only screen and (max-width: 300px) {
  .prev,
  .next,
  .text {
    font-size: 11px;
  }
}
.second-page-bar {
  font-size: 30px;
  font-weight: 800;
  line-height: 72px;
}
.pc-div {
  width: 70px;
  height: 32px;
  border-radius: 20px;
}
.Console-div {
  width: 90px;
  height: 32px;
  border-radius: 20px;
}
.Dispositivos-div {
  width: 200px;
  height: 32px;
  border-radius: 20px;
}
.button-flex-div {
  display: flex;
  margin-top: 23px;
  margin-left: 190px;
}
button {
  background-color: rgba(96, 96, 96, 1);
  color: white;
}
img {
  height: 250px;
}
.transform:hover {
  opacity: 0.7;
  transition: 0.3s;
  transform: scale(1.2);
}
.Rockstar-img-colage {
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 64px;
}
.second-page-list {
  margin-bottom: 40px;
}
.download-button {
  display: flex;
  justify-content: center;
}
.button-size {
  width: 170px;
  height: 50px;
}
button:hover {
  opacity: 0.7;
  transition: 0.3s;
  transform: scale(1.2);
}
.second-clip-text {
  color: white;
  width: 460px;
  height: 72px;
  font-family: Helvetica;
  font-size: 38px;
  font-weight: 800;
  line-height: 72px;
  margin-left: 140px;
  margin-top: 90px;
}
.gta6 {
  width: 860px;
  height: 520px;
  border-radius: 0px 0px 16px 16px;
  border: 1px 0px 0px 0px;
  margin-left: 114px;
  margin-top: 40px;
}
.gta6-img {
  width: 860px;
  height: 488px;
  border-radius: 16px 0px 0px 0px;
  opacity: 0px;
}
.disqription {
  color: white;
  width: 585px;
  height: 48px;
  border: 1px 0px 0px 0px;
  font-family: Helvetica Now Display;
  font-size: 32px;
  font-weight: 500;
  line-height: 48px;
  margin-left: 10px;
}
.date {
  color: white;
  width: 289px;
  height: 24px;
  font-family: Helvetica Now Display;
  font-size: 16px;
  font-weight: 300;
  line-height: 24px;
  color: rgba(121, 121, 121, 1);
  margin-left: 10px;
}
.disqription-background {
  background-color: rgba(2, 2, 2, 1);
  margin-top: -51px;
  width: 860px;
  border-radius: 0px 0px 16px 16px;
  height: 136px;
}
.for-center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  margin-top: -53px;
  margin-left: 10px;
}
.third-clip-text {
  color: white;
  width: 260px;
  height: 42px;
  font-family: Helvetica;
  font-size: 38px;
  font-weight: 800;
  line-height: 72px;
  margin-left: 140px;
  margin-top: 90px;
}
.gta-img {
  width: 260px;
  height: 224px;
  border-radius: 16px 0px 0px 0px;
}
.mini-info {
  width: 260px;
  height: 82px;
  border-radius: 0px 0px 16px 16px;
  background-color: black;
}
.mini-disqription {
  width: 191px;
  height: 40px;
  font-family: Helvetica Now Display;
  font-size: 13px;
  font-weight: 500;
  line-height: 19.5px;
  color: rgba(255, 255, 255, 1);
}
.mini-date {
  width: 217px;
  height: 18px;
  font-family: Helvetica Now Display;
  font-size: 12px;
  font-weight: 300;
  line-height: 18px;
  color: rgba(121, 121, 121, 1);
}
.for-flex {
  display: flex;
}
.for-column {
  display: flex;
  flex-direction: column;
  margin-top: 200px;
  margin-left: 40px;
}
.margin-img {
  margin-top: -64px;
}

.four-img {
  margin-top: 70px;
}
.second-main:hover {
  opacity: 0.7;
  transition: 0.3s;
  transform: scale(1.02);
}
.gta-img:hover {
  opacity: 0.7;
  transition: 0.3s;
  transform: scale(1.02);
}
.for-center:hover {
  opacity: 0.7;
  transition: 0.3s;
  transform: scale(1.02);
}
.last-container {
  background-image: url(/img/fundo.png);
  width: 1160px;
  height: 535px;
  border-radius: 16px;
  margin-top: 80px;
  margin-left: 8%;
  margin-bottom: 95px;
}
.rockstar-logo {
  width: 137.65px;
  height: 126.75px;
  margin-right: 18px;
  margin-bottom: 32px;
  margin-top: 77px;
}
.game-launcher-style {
  width: 186.32px;
  height: 123.22px;
  font-family: Helvetica;
  font-size: 41.57px;
  font-weight: 800;
  line-height: 49.89px;
  color: rgba(2, 2, 2, 1);
  margin-top: 77px;
}
.photo {
  display: flex;
}
.last-p {
  width: 326px;
  height: 96px;
  font-family: Helvetica;
  font-size: 32px;
  font-weight: 500;
  line-height: 48px;
  color: rgba(2, 2, 2, 1);
}
.text-style {
  font-family: Helvetica;
  font-size: 20px;
  font-weight: 800;
  line-height: 30px;
  text-align: center;
}
.YB-more {
  width: 260px;
  height: 63px;
  margin-top: 64px;
  border-radius: 8px;
}
.right {
  margin: 0px 0px 77px 77px;
}
.last-img {
  position: absolute;
  width: 660px;
  height: 471px;
  top: 1881px;
  left: 640px;
  margin-left: -30px;
}
footer {
  width: 100%;
  height: 238px;
  background-color: rgba(2, 2, 2, 1);
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.footer-left {
  display: flex;
}
.footer-img {
  width: 248px;
  height: 24px;
}
.footer-left-img {
  width: 60px;
  height: 55.25px;
}
.footer-p {
  color: white;

  font-family: Helvetica;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  color: rgba(177, 177, 177, 1);
  margin-right: 24px;
}
.for-margin {
  margin-left: 40px;
}
.footer-p-second {
  color: rgba(177, 177, 177, 1);
  position: absolute;
  left: 258px;
  top: 2600px;
}
